body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: #000000;
  text-align: center;
}
header{
  background-color: #9ae5f4;
}
nav{
  background-color: #9ae5f4;
}
main{
  background-color: #9ae5f4;
  font-size: 200%;
}
footer{
  background-color: #9ae5f4;
}
li{
  display: inline-block;
  width: 30%;
}
h1{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
}
p{
  line-height: 100%;
}